<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ufscar.br/dc/compiladores/at5/T5f"
			class = "br.ufscar.dc.compiladores.at5.t5f.T5fPackage"
			genModel = "model/generated/T5f.genmodel" />
	</extension>
</plugin>
